/* :root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
} */

/* body{
	background: var(--primary);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
} */

body {
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	font-size: 20px;
	text-align: justify;
}

* {
	list-style: none;
}

.wrapper {
	margin: 130px 228px 128px 228px;
	border-radius: 20px 20px 0px 0px;
	outline: 1px solid #D3D5D8;
	padding-bottom: 100px;
}


/*START: FORM HEADER STYLE*/
.wrapper .header {
	padding: 45px 0px 0px 62px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wrapper .header ul {
	display: flex;
	column-gap: 18px;
	padding: 0;
}

.wrapper .header ul li {
	position: relative;
}

.wrapper .header ul li{
	color: #919191;
}

.wrapper .header ul .active{
	color: black;
}

.wrapper .header ul li p {
	text-align: center;
	line-height: 25px;
	font-size: 1.1em;
	font-weight: 500;
	margin: 0;
}
/*END: FORM HEADER STYLE*/


/*START: FORM1 WRAPPER STYLE*/
.wrapper .form_wrap .form_1 {
	margin: 93px 185px 58px 185px;
}

.wrapper .form_wrap .form_1 span {
	display: flex;
	justify-content: center;
	color: black;
	line-height: 30px;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 6px;
}

.data_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 80px;
}

.form_container .input_wrap .input-title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	text-align: center;
	line-height: 34px;
	font-size: 1.25em;
	padding-bottom: 38px;
}

/* START: BUTTON GROUP STYLE*/
.btn-group {
	display: flex;
	flex-direction: row;
	width: 100%;
	column-gap: 18px;
}

.btn-group input[type="radio"] {
	display: none;
}

.btn-group label {
	display: block;
	background-color: white;
	color: black;
	font-size: 1em;
	line-height: 27px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 12px;
	border: 1px solid #D3D5D8;
	padding: 18px 60px;
}

.donateAmount label {
	background-color: #F3FFEB;
	border: none;
}

.btn-group input.radio:checked~label {
	color: white;
	background-color: #6A994E;
}

.phone-types {
	column-gap: 0px;
	flex: 2;
	padding-right: 120px;
}

.form-group #phone {
	flex: 1;
}

.phone-types div {
	width: 100%;
	text-align: center;
}

.phone-types div:nth-child(1) label:nth-child(2) {
	border-radius: 12px 0px 0px 12px;
}

.phone-types div:nth-child(2) label:nth-child(2) {
	border-radius: 0px;
}

.phone-types div:nth-child(3) label:nth-child(2) {
	border-radius: 0px 12px 12px 0px;
}

/* END: BUTTON GROUP STYLE*/

/* START: CURRENCY BUTTON STYLE*/
.currency-wrap {
	display: flex;
	flex-direction: row;
	border: 1px solid #D3D5D8;
	border-radius: 12px;
	width: 620px;
}

.currency-wrap .currencyinput {
	background-color: #E2E2E2;
	padding: 34px 23px;
	margin: 0 !important;
	color: black;
	font-size: 1em;
	line-height: 27px;
	font-weight: bold;
}

.currency-wrap input {
	border: none;
	outline: none;
	padding: 30px 40px;
	background-color: white;
	color: black;
	font-size: 1.25em;
	line-height: 34px;
	width: 100%;
}

/* END: CURRENCY BUTTON STYLE*/
/*END: FORM1 WRAPPER STYLE*/


/*START: FORM2 WRAPPER STYLE*/
.wrapper .form_wrap .common-form {
	margin: 55px 45px 35px 80px;
}

.wrapper .form_wrap .common-form span {
	display: block;
	text-align: left;
	color: black;
	line-height: 30px;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 30px;
}

.common-form form {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
} 

/*START: DONOR-TYPE RADIO BTN*/
.common-form form .donor-type{
	display: flex;
	flex-direction: row;
	column-gap: 87px;
}

.common-form form .donor-type .donor-type-btn{
	display: flex;
	flex-direction: row;
	column-gap: 12px;
}

.common-form form .donor-type input[type="radio"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: #6A994E;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid #6A994E;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

.common-form form .donor-type input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #6A994E;
	/* Windows High Contrast Mode */
	background-color: #6A994E;
}

.common-form form .donor-type input[type="radio"]:checked::before {
	transform: scale(1);
}

/* input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
  } */
/*END: DONOR-TYPE RADIO BTN*/

.common-form .form-group {
	display: flex;
	flex-direction: row;
	column-gap: 35px;
	width: 100%;
}

.common-form .group {
	display: flex;
	flex-direction: column;
	row-gap: 22px;
	width: 100%;
}

.common-form .form-group .group label {
	background-color: white;
	color: black;
	font-size: 1em;
	line-height: 24px;
	font-weight: 500;
}

.common-form .form-group .group input,
.common-form .form-group input,
.common-form .form-group .group select,
.common-form .form-group .group textarea {
	background-color: white;
	color: black;
	font-size: 1em;
	line-height: 24px;
	font-weight: 500;
	border-radius: 12px;
	border: 1px solid #D3D5D8;
	padding: 20px;
	outline: none;
}

/*END: FORM2 WRAPPER STYLE*/


/*START: BTN-WRAP STYLE*/
.wrapper .btns_wrap {
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns {
	display: flex;
	justify-content: space-between;
	padding: 10px 45px 0px 80px;
}

.wrapper .btns_wrap .common_btns.form_1_btns {
	justify-content: center;
}

.wrapper .btns_wrap .common_btns .btn {
	border-radius: 12px;
	font-size: 1.1em;
	line-height: 30px;
	font-weight: bold;
	padding: 28px 85px;
}

.wrapper .btns_wrap .common_btns .btn_next, .wrapper .btns_wrap .common_btns .btn_done{
	background-color: #6A994E;
	color: white;
}

.wrapper .btns_wrap .common_btns.form_1_btns .btn_next {
	padding: 33px 254px;
}

.wrapper .btns_wrap .common_btns button {
	border: 0;
	padding: 12px 15px;
	/* background: var(--primary);
	color: var(--white); */
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	color: black;
	background-color: #E2E2E2;
}

/* .wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
} */
/* 
.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: 8577d2;
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: 8577d2;
} */
/*END: BTN-WRAP STYLE*/